@charset "utf-8";
/* CSS Document */
	b{font-style: italic; font-family:arial; color: #ff00ff; font-size:20px; font-weight: bolder;}
	center{font-size: 20px;font-family: algerian;font-style: oblique;font-weight: bold;color: #1100BB;}
	.in{font-size: 20px;font-family: algerian;font-style: oblique;font-weight: bold;color: #1100BB;background-color: #ffff00;}
	.on{font-size: 20px;font-family: algerian;color: #1100BB;}
	select{font-size: 15px;font-family: algerian;font-style: oblique;font-weight: bold;color:#1100BB ;background-color: #aaffaa;}
body{background-image :url(fform.jpg);
    	clear: both;
	border-bottom: 6px solid #000;
	padding: 10px;  padding-top: 20px;
	background-repeat: no-repeat;
	background-size: 100%;
	
;
    }
button{background-color:#AABB00;}
#bs:hover{background-color:#aaffaa;}
#b:hover{background-color:#ff00ff;}
#id:hover{font-size: 50px;font-family: algerian;font-style: oblique;font-weight: bold;color: #ff0000;}