@charset "utf-8";
/* CSS Document */
	b{font-style: italic; font-family:arial; color: #1100BB; font-size: 20px; font-weight: bolder;}
	center{font-size: 20px;font-family: algerian;font-style: oblique;font-weight: bold;color: #1100BB;}
	input{font-size: 20px;font-family: algerian;font-style: oblique;font-weight: bold;color: #1100BB;background-color: 808550;}
body{background-image :url(e.jpg);}
button{background-color:#AABB00;}
